<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>App</title>
{{#request}}
    {{#contextPath}}
<link rel="stylesheet" href="{{.}}/bootstrap.css">
<link rel="stylesheet" href="{{.}}/app.css">
    {{/contextPath}}
{{/request}}
</head>
<body>
<div class="container">
<header>
<h1 class="text-left">h e a d e r</h1>
{{#request}}
    {{#userPrincipal}}
<form method="post" action="/logout"><button class="btn btn-success" name="logout" value="logout">logout</button></form>
    {{/userPrincipal}}
{{/request}}
</header>